ttl-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema
  xmlns="http://www.w3.org/2001/XMLSchema"
  targetNamespace="urn:ietf:params:xml:ns:epp:ttl-1.0"
  xmlns:ttl="urn:ietf:params:xml:ns:epp:ttl-1.0"
  elementFormDefault="qualified">
  <annotation>
    <documentation>
      Extensible Provisioning Protocol v1.0 extension
      schema for Time-To-Live (TTL) values for domain
      and host objects.
    </documentation>
  </annotation>

  <element name="create" type="ttl:container"/>
  <element name="update" type="ttl:container"/>
  <element name="infData" type="ttl:container"/>

  <complexType name="container">
    <choice>
      <element name="secs" type="ttl:ttlType"/>
      <element name="secs"/>
    </choice>
  </complexType>

  <simpleType name="ttlType">
    <restriction base="nonNegativeInteger">
      <minInclusive value="0"/>
      <maxInclusive value="2147483647"/>
    </restriction>
  </simpleType>
</schema>
