ttl-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema
  xmlns="http://www.w3.org/2001/XMLSchema"
  targetNamespace="urn:ietf:params:xml:ns:epp:ttl-1.0"
  xmlns:ttl="urn:ietf:params:xml:ns:epp:ttl-1.0"
  elementFormDefault="qualified">
  <annotation>
    <documentation>
      Extensible Provisioning Protocol v1.0 extension
      schema for Time-To-Live (TTL) values for domain
      and host objects.
    </documentation>
  </annotation>

  <element name="create" type="ttl:container"/>
  <element name="update" type="ttl:container"/>
  <element name="infData" type="ttl:container"/>

  <complexType name="container">
    <sequence>
      <element name="secs" type="ttl:ttlType"
        minOccurs="1" maxOccurs="4"/>
    </sequence>
  </complexType>

  <simpleType name="ttlValue">
    <restriction base="nonNegativeInteger">
      <minInclusive value="0"/>
      <maxInclusive value="2147483647"/>
    </restriction>
  </simpleType>

  <simpleType name="rrType">
    <restriction base="string">
      <enumeration value="NS"/>
      <enumeration value="DS"/>
      <enumeration value="A"/>
      <enumeration value="AAAA"/>
    </restriction>
  </simpleType>

  <complexType name="ttlType">
    <simpleContent>
      <extension base="ttl:ttlValue">
        <attribute name="rrType"
          type="ttl:rrType"
          use="optional"/>
      </extension>
    </simpleContent>
  </complexType>
</schema>
